# Ignorar todo el contenido de public/storage
*
!.gitignore

# Permitir la carpeta profile_images
!profile_images/

# Permitir el archivo default-profile.png dentro de profile_images
!profile_images/default-profile.png